@tailwind base;
@tailwind components;
@tailwind utilities;

.labels-base {
  @apply text-gray-600 bg-yellow-400 font-sans text-[10px] text-center p-1 px-2 rounded-lg　border-white border;
  font-family: "A-OTF 新丸ゴ Pro", "ヒラギノ丸ゴ ProN W4", "ヒラギノ丸ゴ Pro W4" !important;
}

.labels-red {
  @apply text-white bg-red-600 font-sans text-[8px] text-center p-1 px-2 rounded-lg border-white border;
  font-family: "A-OTF 新丸ゴ Pro", "ヒラギノ丸ゴ ProN W4", "ヒラギノ丸ゴ Pro W4" !important;
}

.labels-green {
  @apply text-white bg-green-600 font-sans text-[8px] text-center p-1 px-2 rounded-lg　border-white border;
  font-family: "A-OTF 新丸ゴ Pro", "ヒラギノ丸ゴ ProN W4", "ヒラギノ丸ゴ Pro W4" !important;
}
